<nav class="navbar navbar-expand-lg p-3">
  <a class="navbar-brand" routerLink="">Moodle</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavAltMarkup"
    [ngbCollapse]="isCollapsed"
  >
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        *ngIf="!(loggedIn$ | async)"
        routerLink="login"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="nav-item nav-link"
        *ngIf="!(loggedIn$ | async)"
        routerLink="register"
        routerLinkActive="active"
        >Register</a
      >

      <ng-container *ngIf="(role$ | async) === 'Admin'"
        ><a
          class="nav-item nav-link"
          routerLink="admin/nastavnici"
          routerLinkActive="active"
          >Nastavnici</a
        >
        <a
          class="nav-item nav-link"
          routerLink="admin/studenti"
          routerLinkActive="active"
          >Studenti</a
        >
        <a
          class="nav-item nav-link"
          routerLink="admin/novi-admin"
          routerLinkActive="active"
          >Novi Admin</a
        >
        <a
          class="nav-item nav-link"
          routerLink="admin/dodaj-smer"
          routerLinkActive="active"
          >Dodaj Smer</a
        ></ng-container
      >

      <a
        *ngIf="(role$ | async) === 'Profesor' || (role$ | async) === 'Asistent'"
        class="nav-item nav-link"
        routerLink="teacher/courses"
        routerLinkActive="active"
        >Kursevi</a
      >
      <a
        *ngIf="(role$ | async) === 'Profesor'"
        class="nav-item nav-link"
        routerLink="teacher/new-course"
        routerLinkActive="active"
        >Novi Kurs</a
      >

      <a
        *ngIf="(role$ | async) === 'Student'"
        class="nav-item nav-link"
        routerLink="my-courses"
        routerLinkActive="active"
        >Moji kursevi</a
      >

      <button
        class="nav-item nav-link"
        *ngIf="loggedIn$ | async"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler btn btn-outline-primary"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarTogglerDemo02"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarTogglerDemo02"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav> -->
