<ng-container *ngIf="loading">
  <div class="alert alert-info">Ucitavanje...</div>
</ng-container>

<ng-container *ngIf="course">
  <h1>{{ course.naziv }}</h1>
  <h3 class="text-muted">
    Profesor: {{ course.profesor.osoba.ime }}
    {{ course.profesor.osoba.prezime }}
  </h3>
  <h4 class="text-muted">
    Asistent: {{ course.asistent.osoba.ime }}
    {{ course.asistent.osoba.prezime }}
  </h4>
  <div *ngIf="brojPrijava">
    <a routerLink="prijave">Nove prijave: {{ brojPrijava }}</a>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Materijali</div>
        <a routerLink="add-material" class="btn btn-link" *ngIf="canManage"
          >Dodaj materijal</a
        >
        <div class="p-2" *ngIf="course.materijali">
          <div>
            <h5>Predavanja</h5>
            <p
              class="m-0 p-0"
              *ngFor="let pred of predavanja"
              (click)="otvoriMaterijal(pred.id)"
            >
              {{ pred.naziv }}
              <span *ngIf="canManage && (role$ | async) === 'Profesor'">
                <a
                  [routerLink]="['materijali', pred.id, 'edit']"
                  class="btn btn-link"
                  >Izmeni</a
                >
              </span>
            </p>
            <p *ngIf="predavanja.length === 0" class="text-muted">
              Nema predavanja
            </p>
          </div>

          <div>
            <h5>Vezbe</h5>
            <p
              *ngFor="let v of vezbe"
              class="m-0 p-0"
              (click)="otvoriMaterijal(v.id)"
            >
              {{ v.naziv }}
              <span *ngIf="canManage && (role$ | async) === 'Asistent'">
                <a
                  [routerLink]="['materijali', v.id, 'edit']"
                  class="btn btn-link"
                  >Izmeni</a
                >
              </span>
            </p>
            <p *ngIf="vezbe.length === 0" class="text-muted">Nema vezbi</p>
          </div>
        </div>
      </div>
      <div *ngIf="!course.materijali && !pending">
        <div class="alert alert-danger">
          <p>Niste prijavljeni na kurs</p>
          <p>
            <button
              class="btn btn-secondary"
              (click)="prijaviSeNaKurs()"
              [disabled]="prijavljivanje"
            >
              Prijavi se
            </button>
          </p>
        </div>
      </div>
      <div *ngIf="!course.materijali && pending">
        <div class="alert alert-danger">
          <p>Cekanje na potvrdu prijave</p>
          <p>
            <button
              class="btn btn-secondary"
              (click)="prijaviSeNaKurs()"
              [disabled]="prijavljivanje"
            >
              Otkazi prijavu
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-news-board
        [canManage]="canManage"
        [hasAccess]="!!course.materijali"
      />
    </div>
  </div>
</ng-container>

<div class="alert alert-danger" *ngIf="error && !course">
  Kurs nije pronadjen
</div>
