<div class="card obavestenje-card" *ngIf="obavestenje">
  <div class="card-header">{{ obavestenje.naslov }}</div>
  <div class="p-2">{{ obavestenje.sadrzaj }}</div>
  <div class="card-footer">
    {{ obavestenje.nastavnik.osoba.ime }}
    {{ obavestenje.nastavnik.osoba.prezime }} |
    {{ obavestenje.datum | date : "dd.MM.yyyy hh:mm:ss" }}
  </div>
</div>

<div class="card obavestenje-card mt-2" *ngIf="obavestenje?.studenti">
  <div class="card-header">Pregledi</div>
  <div class="p-2" *ngFor="let student of obavestenje.studenti">
    {{ student.email }} {{ student.ime }} {{ student.ime }} |
    {{ student.datum | date : "dd.MM.yyyy hh:mm:ss" }}
  </div>
</div>

<div *ngIf="!obavestenje" class="card">
  <div class="card-header">Obavestenje ne postoji</div>
</div>
