<ng-container *ngIf="loading">
  <div class="alert alert-info">Ucitavanje...</div>
</ng-container>

<div class="card container-card" *ngIf="smerovi.length > 0">
  <div class="card-header">Kursevi</div>
  <div class="card card-item" *ngFor="let smer of smerovi">
    <div>{{ smer.naziv }}</div>
    <ul *ngIf="smer.kursevi.length > 0">
      <li *ngFor="let kurs of smer.kursevi">
        <a [routerLink]="['/courses', kurs.id]">{{ kurs.naziv }}</a>
      </li>
    </ul>
    <div class="text-muted" *ngIf="smer.kursevi.length == 0">Nema kurseva</div>
  </div>
</div>
