<app-search
  title="Pretrazi studente"
  placeholder="Ime i prezime"
  (search)="searchHandler($event)"
></app-search>

<ng-container *ngIf="loading">
  <div class="alert alert-info">Ucitavanje...</div>
</ng-container>

<div class="cards">
  <ng-container *ngIf="studenti.length > 0">
    <div class="card" *ngFor="let student of studenti">
      <div class="card-header">
        <a [routerLink]="['/admin/studenti', student.osoba.jmbg]">
          {{ student.osoba.ime }} {{ student.osoba.prezime }}
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">JMBG: {{ student.osoba.jmbg }}</p>
        <p class="card-text">Email: {{ student.osoba.email }}</p>
        <p class="card-text">Username: {{ student.osoba.username }}</p>
        <p class="card-text">Pol: {{ student.osoba.pol }}</p>
        <p class="card-text">Adresa: {{ student.adresa }}</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="studenti.length === 0">
    <div class="card">
      <div class="card-header">Nema studenata</div>
    </div>
  </ng-container>
</div>
