@import 'bootstrap/scss/bootstrap';

body {
  background-color: #8a8a8a !important;
}


@media screen and (max-width: 850px) {
  .card {
    width: 90% !important;
  }
}

a {
  color: black !important;
}

.card {
  background: rgba(255, 255, 255, 0.8) !important;
}

.card-header {
  font-weight: bold !important;
}

.btn-primary {
  background-color: #fad46c !important;
  border: none !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-primary:hover {
  background-color: #eec554 !important;
}
